html {
   text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html,
body {
  height: 100%;
  margin: 0;
}

* {
  word-break: break-all;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.body-wrap {
  height: 100%;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}
