@font-face {
  font-family: 'iconfont';  /* project id 590414 */
  src: url('http://at.alicdn.com/t/font_590414_c7648q9ck8rggb9.eot');
  src: url('http://at.alicdn.com/t/font_590414_c7648q9ck8rggb9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_590414_c7648q9ck8rggb9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_590414_c7648q9ck8rggb9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_590414_c7648q9ck8rggb9.svg#iconfont') format('svg');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

